<div>
	<h1>Class: {{class_name}}</h1>
	<div>
		<h2>Functions</h2>
		{% for function_info in function_list %}
			<h3>{{function_info[0]}}</h3>
			<h4>Description:</h4>
			<p>{{function_info[1]}}</p>
		{% endfor %}
</div>